@model IEnumerable<MailSender.Models.Domains.EmailMessage>

@{
    ViewBag.Title = "Emaile";
}

<h1 class="mb-3">Rejestr e-maili</h1>

<button 
    class="btn btn-primary mb-3" 
    onclick='window.location.href="@Url.Action("EmailMessage","Home")"'>
    Dodaj
</button>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
    <thead>
        <tr>
            <th>Temat</th>
            <th>Treść</th>
            <th>Nadawca</th>
            <th>Odbiorca</th>
            <th>Data utworzenia</th>
            <th>Data wysyłki</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var email in Model)
        {
<tr>
        <td>@email.Subject</td>
        <td>@email.Body</td>
        <td>@email.EmailFrom</td>
        <td>@email.EmailTo</td>
        <td>@email.CreatedDate.ToString("dd-MM-yyyy")</td>
        <td>@email.SendDate.ToString("dd-MM-yyyy")</td>
        <td>@email.Status.Name</td>
        <td>
            <button 
                class="btn btn-danger tn-sm"
                onclick="deleteEmail">
                Usuń
            </button>       
        </td>
</tr>
    }
        </tbody>
    </table>
}
else
{
    <div>
        Brak e-maili do wyświetlenia
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        function deleteEmail() {
            if (!confirm("Czy na pewno chcesz usunąć e-mail?"))
                return;
        }
    </script>
}
