@model IEnumerable<MailSender.Models.Domains.EmailMessage>

@{
    ViewBag.Title = "Emaile";
}

<h1 class="mb-3">Rejestr wiadomości e-mail</h1>

<button 
    class="btn btn-outline-primary mb-3" 
    onclick='window.location.href="@Url.Action("EmailMessage","Home")"'>
    Dodaj nową wiadomość
</button>
<button
        class="btn btn-outline-primary mb-3"
        onclick='window.location.href="@Url.Action("Accounts","Home")"'>
    Konta e-mail
</button>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
    <thead>
        <tr>
            <th>Temat</th>
            <th>Treść</th>
            <th>Nadawca</th>
            <th>Odbiorca</th>
            <th>Data utworzenia</th>
            <th>Data wysyłki</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var email in Model)
        {
            var rowClass = email.Status.Name
                switch
            {
                "wysłana" => "row-sent",
                "przygotowana" => "row-prepared",
                "niepowodzenie" => "row-failed"
            };
        <tr>
            <td>@email.Subject</td>
            <td>@email.Body</td>
            <td>@email.EmailAccountParams.SenderEmail</td>
            <td>@email.EmailTo</td>
            <td>@email.CreatedDate.ToString("dd-MM-yyyy")</td>
            <td>@(email.SendDate? .ToString("dd-MM-yyyy") ?? "")</td>
            <td class="@rowClass">@(email.Status? .Name ?? "")</td>
            <td>
                @*<button
            class="btn btn-danger tn-sm"
            onclick="deleteEmail">
            Usuń
        </button> *@
                <button class="btn btn-primary tn-sm"
                        onclick="sendEmail">
                    Wyślij
                </button>
            </td>
        </tr>
    }
        </tbody>
    </table>
}
else
{
    <div>
        Brak e-maili do wyświetlenia
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        function sendEmail(id, btn) {

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SendEmail","Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });

        }
        @*function deleteEmail() {
            if (!confirm("Czy na pewno chcesz usunąć e-mail?"))
                return;
        }*@
    </script>
}
